<footer role="contentinfo">
  <div class="grid">
    <div class="unit half"></div>
    <div class="unit half align-right center-on-mobiles">
      <em>
        “Il semble que la perfection soit atteinte non quand il n'y a plus rien à ajouter, mais quand il n'y a plus rien à retrancher.”
      </em><br>
      Antoine de Saint-Exupéry, <em>Terre des Hommes</em>.
    </div>
    <div class="unit whole align-right center-on-mobiles">
      <p>
        Written by
        <a href="http://www.ytotech.com">
          <img src="/img/favicon.png" height="30" alt="YtoTech" title="YtoTech">
        </a> members.
      </p>
    </div>
  </div>
</footer>
