<div class="unit one-fifth align-right hide-on-mobiles">
  <aside>
    <ul>
      <li class="{% if page.url == '/index.html' %}current{% endif %}">
        <a href="/">All Posts</a>
      </li>
    </ul>
    <h4>Recent Posts</h4>
    <ul>
      {% for post in site.posts limit:3 %}
      <li class="{% if page.title == post.title %}current{% endif %}">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
    {% for category in page.categories %}
      <h4>{{ category }}</h4>
      {% for post in site.categories.[category] limit:3 %}
        <li class="{% if page.title == post.title %}current{% endif %}">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    {% endfor %}
    <h4>Feed</h4>
    <ul>
      <li>
        <a href="/feed.xml">Atom</a>
      </li>
    </ul>
  </aside>
</div>
