<article>
  <div class="post-meta">
    <span class="post-date">
      {{ post.date | date_to_string }}
    </span>
    {% assign author = site.data.authors[post.author] %}
    <a href="{{ author.uri }}" class="post-author">
      <img src="{{ author.image }}" class="avatar" alt="{{ author.name }} avatar" width="24" height="24">
      {{ author.name }}
    </a>
    <span class="post-category">
      <span class="label">
        {{ post.categories | array_to_sentence_string }}
      </span>
    </span>
  </div>
  <h3>
    <a href="{{ post.url }}">
      {{ post.title }}
    </a>
  </h3>
  <div class="post-brief">
    {{ post.brief }}
  </div>
</article>
