<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Droid+Serif:400,300,600" rel="stylesheet" type="text/css">
  <link href='//fonts.googleapis.com/css?family=Crimson+Text:400,600,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/png" href="/img/favicon.png">
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link rel="alternate" type="application/atom+xml" title="Atom Feed" href="http://blog.ytotech.com/feed.xml">
</head>
