---
layout: posts
---

<article>
  <h2>
    {{ page.title }}
  </h2>
  <div class="post-meta">
    <span class="post-date">
      {{ page.date | date_to_string }}
    </span>
    {% assign author = site.data.authors[page.author] %}
    <a href="{{ author.uri }}" class="post-author">
      <img src="{{ author.image }}" class="avatar" alt="{{ author.name }} avatar" width="24" height="24">
      {{ author.name }}
    </a>
    <span class="post-category">
      <span class="label">
        {{ page.categories | array_to_sentence_string }}
      </span>
    </span>
  </div>
  <div class="post-content">
    {{ content }}
  </div>
  {% if page.draft == true %}
    <hr>
    <em><p>
      Public draft, still under revision. Please report errors, typos and comments to <a href="emailto:contact@ytotech.com">contact@ytotech.com</a> or directly to <a href="mailto:{{ author.email }}">the author</a>.
    </p></em>
  {% endif %}
  {% if page.draft != true and page.lovehatefeedback == true %}
    <hr>
    <p>Love it, hate it? Let me know.</p>
    <p><a href="mailto:yoan@ytotech.com">yoan@ytotech.com</a></p>
  {% endif %}
  {% if page.hacker_news %}
    <hr>
    <em><p>
      Comments on <a href="{{ page.hacker_news }}">Hacker News</a>.
    </p></em>
  {% endif %}
</article>
