---
layout: posts
---

<article>
  <h2>
    {{ page.title }}
  </h2>
  <div class="post-meta">
    <span class="post-date">
      {{ page.date | date_to_string }}
    </span>
    <a href="https://github.com/{{ page.author }}" class="post-author">
      <img src="https://github.com/{{ page.author }}.png" class="avatar" alt="{{ page.author }} avatar" width="24" height="24">
      {{ page.author }}
    </a>
    <span class="post-category">
      <span class="label">
        {{ page.categories | array_to_sentence_string }}
      </span>
    </span>
  </div>
  <div class="post-content">
    {{ content }}
  </div>
  {% if page.draft == true %}
    <hr>
    <em><p>
      Public draft, still under revision. Please report errors, typos and comments to <a href="emailto:contact@ytotech.com">contact@ytotech.com</a> or directly to <a href="https://github.com/{{ page.author }}">the author</a>.
    </p></em>
  {% endif %}
</article>
